body{
    font-family: var(--ff-primary);

    //we set the base font size to 13px. consider the font size of the content not 
    //the h1 or any other element.
    font-size: var(--fs-400);

    // instead of adding a margin-top on h1,(the h1 tag is direct child of the body, not 
    // having any containers) we add padding-top on the body so even we change the content 
    // the space above is maintain
    padding-top: 5rem;

    // since we apply mobile-first development. we set default text-align to center
    text-align: center;

    background-image: 
        url(../../images/bg-pattern-top-desktop.svg),
        url(../../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 40%, 40%;
    // background-size: max(50%, 400px);
}

h1{
    font-size: var(--fs-900);
    color: var(--clr-primary-700);
    line-height: 1;
    max-width: 12ch;
    margin-bottom: .25em;
    font-weight: 800;

    //this media query only center the title if the screen is small
    @media (max-width: 50em) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;

    }

}

.lead{
    font-size: var(--fs500);
}

// this has to be on a different sass file if the project is big
// layou stuff
main{
    display: grid;
    gap: 3rem 1rem;
}

@media (min-width:50rem){
    main{
        grid-template-columns: 1fr 1.5fr;
        text-align: left;
    }
        
   
    .intro{
        grid-column: 1/2;
    }
    
    .ratings{
        grid-column: 2/3;
        align-self: center;
    }
    
    .quotes{
        grid-column: 1/-1;
    }
}
